[Unit]
Description=Risper user daemon

[Service]
Type=simple
ExecStart=%h/.local/bin/risper-daemon
Restart=on-failure

[Install]
WantedBy=default.target
